{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% load field_by_key %}

{% block content %}

<h1 class="page-header">
    {{ event.name }}
    <small>
        {% trans 'Event registration' %}
    </small>
</h1>

<div class="row" style="padding-bottom: 2%;">
	<img src="http://placehold.it/700x150?text={{ event.name }}" class="img-fluid col-md-12" />
</div>

<div class="row" style="padding: 20px;" class="center">
    <div class="col-md-12">
        <ul class="nav nav-tabs">           
            <li role="presentation"><a href="{% url 'participant_info' event_name=event.subdomain %}">{% trans 'Step 1 - Participant information' %}</a></li>
            <li role="presentation" class="active"><a href="{% url 'companion_info' event_name=event.subdomain %}">{% trans 'Step 2 - Companion information' %}</a></li>
            <li role="presentation" {% if event_profile.registration_step_finished < 3 %} class="disabled" {% endif %}><a href="{% url 'events_selector_visitor' event_name=event.subdomain %}">{% trans 'Step 3 - Participation selector' %}</a></li>
            <li role="presentation" {% if event_profile.registration_step_finished < 4 %} class="disabled" {% endif %}><a href="{% url 'payment' event_name=event.subdomain %}">{% trans 'Step 4' %}</a></li>
        </ul>
    </div>
</div>

        <form method="POST" action="{% url 'companion_info' event_name=event.subdomain %}" id="companionForm">
            {% csrf_token %}
        <div class="row" style="padding: 20px;">

            {% if personal_fields %}
            <div class="col-md-4">
                <h3>{% trans 'Personal info' %}</h3>
                {% for field in personal_fields %}
                    {% bootstrap_field form|field_by_key:field %}
                {% endfor %}
            </div>
            {% endif %}


            {% if company_fields %}
            <div class="col-md-4">
                <h3>{% trans 'Company info' %}</h3>
                {% for field in company_fields %}
                    {% bootstrap_field form|field_by_key:field %}
                {% endfor %}
            </div>
            {% endif %}


            {% if event_fields %}
            <div class="col-md-4">
                <h3>{% trans 'Event info' %}</h3>
                {% for field in event_fields %}
                    {% bootstrap_field form|field_by_key:field %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <input type="checkbox" name="new" id="new" style="visibility: hidden;">

        <div class="row">
        {% buttons %}
            <a href="{% url 'home' %}" class="btn btn-primary col-md-2 col-md-offset-2">
                    {% trans "Cancel" %}
            </a>
            <button type="button" class="btn btn-primary col-md-2" id="addAnother">
                {% trans 'Submit and add another' %}
            </button>
            <button type="submit" class="btn btn-primary col-md-2" id="sendForm">
                {% trans 'Submit and continue' %}
            </button>
        {% endbuttons %}
        </div>
        </form>
    <br/>
        <div class="row" style="padding: 20px;">
        {% if companion_profiles and companion_profiles.count > 0 %}
            <h3>{% trans 'Already registered companions' %}</h3>
            {% for companion in companion_profiles %}
            <div class="row" style="padding: 20px;">
                <p>Name: {{ companion.name }}</p>
                <p>Surname: {{companion.surname}}<p>
                <form method="POST" action="{% url 'companion_info' event_name=event.subdomain %}" id="editCompanionForm">
                    {% csrf_token %}
                    <input type="hidden" value="{{ companion.name }}" name="name"/>
                    <input type="hidden" value="{{ companion.surname }}" name="surname"/>
                    <input type="hidden" name="edit" value="edit" style="visibility: hidden;" />
                    <input type="submit" value="  {% trans 'Edit' %}" class="btn btn-primary col-md-2" id="editCompanion">
                </form>
                <form method="POST" action="{% url 'companion_info' event_name=event.subdomain %}" id="editCompanionForm">
                    {% csrf_token %}
                    <input type="hidden" value="{{ companion.name }}" name="name"/>
                    <input type="hidden" value="{{ companion.surname }}" name="surname"/>
                    <input type="hidden" name="delete" value="delete" style="visibility: hidden;" />
                    <input type="submit" value="  {% trans 'Delete' %}" class="btn btn-primary col-md-2" id="editCompanion">
                </form>
            </div>        
            {% endfor %}
        {% endif %}
        </div>        

<script>
$(document).ready(function() {
    $('#addAnother').click(function() {
        $('#new').attr('checked', true);
        $('#sendForm').click();
    });
});
</script>
{% endblock content %}