{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="overlay">
  <!--section-starts-->
  <section class="Banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <!-- form starts -->
            <form  class="form-signin" method="POST" action="{% url 'login' %}">
                <h2 class="form-signin-heading"><span>ID.</span><span>Conference</span></h2>
                <p>"A new conference experience"</p>
                {% csrf_token %}
                <div class="form-signin-user">
                    <label>{% trans 'E-MAIL' %}*</label>
                    <input type="text" class="form-control" name="email" required="" autofocus="" />
                </div>
                <div class="form-signin-pass">
                    <label>{% trans 'PASSWORD' %}*</label>
                    <input type="password" class="form-control" name="password" required=""/> 
                </div>
                     {% if alert %}
                      <p class = "warning_msg" style="color:#ec008c;text-align:center;height:22.07px; ">
                      <b>{{alert}}</b>
                      </p>
                  {% endif %}
                 {% buttons %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">
                       {% trans "Log in!" %}
                </button>
                {% endbuttons %} 
                <!-- form end -->
                <br />
            <div class="text-center">
                <a class="dont-have-account" href="{% url 'home' %}?register=up">
                    {% trans "Don't have an account? SIGNUP!" %}
                </a>
            </div>
            <br />
            <div class="text-center">
            <a class="btn btn-lg btn-primary btn-block btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>{% trans 'Login with Google+' %}
            </a>
            <br />
            <br />
            <a class="btn btn-lg btn-primary btn-block  btn-fb" href="{% url 'social:begin' 'facebook' %}">
                    <i class="fa fa-facebook" aria-hidden="true"></i>{% trans 'Login with Facebook' %}
            </a>
            </div>
            </form>
        </div>            
        </div>
    </div>
  </section>
  <!--section-end--> 
  </div>
    

{% endblock content %}
